
.disInfo {
  position: relative;
}
.sale {
  background-color: tomato;
  color: #fff;
  position: absolute;
  top: 0;
  right: 5%;
  padding: 10px;
  font-weight: 600;
}
.warning {
  background-color: #ffffcc;
  border-left: 6px solid #ffeb3b;
}
